[Unit]
Description=Liquidsoap Telnet Poller Service
After=network.target

[Service]
User=YOURUSERNAME
ExecStart=/bin/bash /PATH/TO/REPO/server-scripts/icecastpoller.sh
Restart=always

[Install]
WantedBy=multi-user.target
